<section class="section-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Contato</h2>
      </div>
    </div>
  </div>
</section>
<section class="section-secondary">
  <div class="container">
    <h2>Envie-nos uma mensagem</h2>
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          <a href="mailto:contato@cloudlab-brasil.rnp.br?Subject=Contato"><strong>contato@cloudlab-brasil.rnp.br</strong></a>.
        </p>
      </div>
    </div>

    <!-- FORMULÁRIO DE ENVIO -->
    <!-- <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="email" class="form-control" id="name" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="msg">Mensagem</label>
            <textarea class="form-control" id="msg" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div> -->

  </div>
</section>
