<div class="nav-section pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">

        <div class="main-title container text-center pt-2 pb-3">
          <img src="assets/imgs/logo_pb.png" alt="Cloudlab Br" width="100px">
        </div>
        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer></footer>
