<div class="nav-section pt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="main-title container text-center pt-2 pb-3">
          <a routerLink="">
            <img src="assets/imgs/logo_pb.png" alt="Cloudlab Br" width="100px">
          </a>
        </div>
        <nav>
          <ul class="nav nav-fill">
            <li class="nav-item">
              <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="/status" routerLinkActive="active" class="nav-link">Status</a>
            </li>
            <li class="nav-item">
              <a routerLink="/team" routerLinkActive="active" class="nav-link">Team</a>
            </li>
            <li class="nav-item">
              <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="py-4">
  <div class="container">
    <div class="footer-logos">
      <div class="logo-a"><img src="assets/imgs/projeto.png" alt="O Projeto" width="100%"></div>
      <div class="logo-c"><img src="assets/imgs/finep.png" alt="Finep" width="100%"></div>
      <div class="logo-a"><img src="assets/imgs/tecn.png" alt="Ministério da Ciência, Tecnologia, Inovações e Comunicações" width="100%"></div>
      <div class="logo-a"><img src="assets/imgs/saud.png" alt="Ministério da Saúde" width="100%"></div>
      <div class="logo-a"><img src="assets/imgs/cult.png" alt="Ministério da Cultura" width="100%"></div>
      <div class="logo-a"><img src="assets/imgs/educ.png" alt="Ministério da Educação" width="100%"></div>
      <div class="logo-b"><img src="assets/imgs/def.png" alt="Ministério da Defesa" width="100%"></div>
      <div class="logo-a"><img src="assets/imgs/brasil.png" alt="Brasil Governo Federal" width="100%"></div>
    </div>
  </div>
</footer>
