@mixin border-default($color) {
  border-bottom: solid 4px $color;
}

.nav-section {
  background-color: #464D7F;
  color: #ffffff;

  a.nav-link:link,
  a.nav-link:visited {
    color: #ffffff;
    @include border-default(transparent);
    transition: border-color .5s;
  }

  a.nav-link:active,
  a.nav-link:hover,
  a.nav-link.active {
    border-bottom-color: #ffffff;
  }
}

.main-title {
  @include border-default(#ffffff);
}

.footer-logos {
  display: flex;
  @media (min-width: 576px) {}
}

.logo-a {
  padding-right: 8px;
}

.logo-b {
  padding-right: 16px;
}
