<section class="section-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Serviço de computação de alta vazão para suporte a atividades de e-ciência, executado sobre uma federação de nuvens.</h2>
      </div>
    </div>
  </div>
</section>
<section class="section-secondary">
  <div class="container">
    <h2>Casos de uso</h2>
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       <!-- <img src="assets/imgs/view_iguassu.png" alt="img" width="400px" class="float-right ml-4">-->
        <img src="assets/imgs/iguassu_logo.png" alt="img" width="400px" class="float-right ml-4">
      </div>
    </div>
  </div>
</section>
