<section class="section-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Serviço de computação de alta vazão para suporte a atividades de e-ciência, executado sobre uma federação de nuvens.</h2>
      </div>
    </div>
  </div>
</section>
<section class="section-secondary">
  <div class="container">
    <h2>Visão geral</h2>
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <p>O Iguassu é um serviço para monitoramento e execução de tarefas de e-ciência que exigem alta vazão. Os recursos utilizados para execução destas tarefas fazem parte de uma federação de nuvens, gerenciadas pelo middleware Fogbow (fogbowcloud.org). O Iguasse permite que seus usuários usem os recursos das cloud sem se preocupar com detalhes da infraestrutura.</p>
       <!-- <img src="assets/imgs/view_iguassu.png" alt="img" width="400px" class="float-right ml-4">-->
        <img src="assets/imgs/iguassu_logo.png" alt="img" width="400px" class="float-right ml-4">
      </div>
    </div>
  </div>
</section>
