@import '../node_modules/bootstrap/scss/functions';
@import 'assets/variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: $primary;
  height: 120px;
}

@mixin section-spacing {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}

.section-main {
  background-color: $cyan;
  @include section-spacing;

  h2 {
    color: $secondary;
  }

  p {
    color: $white;
  }
}

.section-primary {
  display: flex;
  align-items: center;
  height: 50vh;
  background-color: $secondary;
  @include section-spacing;

  h2 {
    color: $cyan;
  }

  p {
    color: $white;
  }
}

.section-secondary {
  background-color: $cyan;
  @include section-spacing;

  h2 {
    color: $secondary;
    margin-bottom: 1.5rem;
  }

  p {
    color: $primary;
    font-size: 1.2rem;
  }
}

.nav-link {
  @include media-breakpoint-up(xs) {
    padding: $nav-link-padding-y 0;
  }
}
